@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,100);

body {
  background-color: #1985A1;
  font-family: 'Roboto', arial, sans-serif;
}

a, a:link, a:visited {
  color: #ED6A5A;
  text-decoration: none;
  font-weight: 500;
  transition: color .2s ease;
}

a:hover, a:active {
  color: #1985A1;
  text-decoration: none;
}

#header {
  position: fixed;
  z-index: 4;
  top: 0;
  height: 4em;
  width: 100%;
  text-align: center;
  background-color: #fff;

  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

#header h2 {
  margin-top: .35em;
  color: #46494C;
  font-weight: 300;

  transition: font .5s ease
}

@media (max-width: 874px) and (min-width: 578px) {
  #header h2 {
    font-size: 1.5em;
    margin-top: .75em;
  }
}

@media (max-width: 578px) {
  #header h2 {
    font-size: 1em;
    margin-top: 1.5em;
  }
}

@media (max-width: 400px) {
  #header h2 {
    font-size: .9em;
    margin-top: 1.75em;
  }
}

#container {
  position: relative;
  top: 5em;
  margin: 0 auto;
}

.sold-text {
  color: #46494C;
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
  height: 100%;
  margin: auto 0;
  padding: 0;
  left: 0;
  top: 10%;
  font-size: 8em;
}

.item {
  border-radius: 10px;
  width:  20em;
  height: 25em;
  background: #fff;
  border: 2px solid #46494C;
  padding: .5em;
  color: #46494C;
  overflow: hidden;
  margin: .6em 0 .6em 0;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

.item .img_container {
  padding: 0;
  width: 100%;
  height: 60%;
  background-color: #46494C;
  border-bottom: 1px solid #46494C;
  overflow: hidden;
}

.item img {
  /*Width = 260px Height = 197px*/
  z-index: 1;
  top: 0;
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.item .item-name {
  position: relative;
  top: -2.25em;
  text-align: left;
  font-size: 1.25em;
  font-weight: bold;
  width: 100%;
  padding: .25em;
  font-weight: 500;
}

.item .price {
  position: relative;
  z-index: 2;
  top: -1.25em;
  text-align: right;
  font-size: 2em;
  width: 100%;
  padding-right: .0825em;
  color: #46494C;
  font-weight: 400;
}

.item .description {
  position: relative;
  clear: both;
  top: -3.5em;
  padding: .25em;
  font-size: .9em;
  font-weight: 300;
}

.item .availability {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.item .availability .date {
  font-weight: 500;
  font-style: normal;
}
