@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,300italic,100);

body {
  background-color: #fff;
  font-family: 'Roboto', arial, sans-serif;
}

a, a:link, a:visited {
  color: #edd400;
  text-decoration: none;
  font-weight: 500;
  transition: color .2s ease;
}

a:hover, a:active {
  color: #fff;
  text-decoration: none;
}

#header {
  position: fixed;
  z-index: 4;
  top: 0;
  height: 4em;
  width: 100%;
  text-align: center;
  background-color: #888a85;

  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

#header h2 {
  margin-top: .35em;
  color: #eeeeec;
  font-weight: 300;

  transition: font .5s ease
}

@media (max-width: 874px) and (min-width: 578px) {
  #header h2 {
    font-size: 1.5em;
    margin-top: .75em;
  }
}

@media (max-width: 578px) {
  #header h2 {
    font-size: 1em;
    margin-top: 1.5em;
  }
}

@media (max-width: 400px) {
  #header h2 {
    font-size: .8em;
    margin-top: 1.75em;
  }
}

#container {
  position: relative;
  top: 5em;
  margin: 0 auto;
}

.sold-text {
  color: #ef2929;
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
  height: 100%;
  margin: auto 0;
  padding: 0;
  left: 0;
  top: 10%;
  font-size: 8em;
}

.item {
  border-radius: 10px;
  width:  20em;
  height: 25em;
  background: #2e3436;
  border: 2px solid #2e3436;
  padding: .5em;
  color: #d3d7cf;
  overflow: hidden;
  margin: .6em 0 .6em 0;
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
}

.item .img_container {
  /* image thumbnail dimensions should be: Width = 260px Height = 197px*/
  padding: 0;
  width: 100%;
  height: 60%;
  background-color: #2e3436;
  border-bottom: 1px solid #2e3436;
  overflow: hidden;
  box-shadow: 0 0 .5em .25em #2e3436 inset;
}

.item .item-name {
  position: relative;
  top: 0em;
  text-align: left;
  font-size: 1.25em;
  font-weight: bold;
  width: 100%;
  padding: .25em;
  font-weight: 500;
  color: #729fcf;
}

.item .price {
  font-size: 2em;
  color: #8ae234;
  margin-left: -.5em;
  position: absolute;
  bottom: 0em;
  width: 100%;
  text-align: right;
  font-weight: 400;
}

.item .description {
  position: relative;
  clear: both;
  top: -.5em;
  padding: .25em;
  font-size: .9em;
  font-weight: 300;
}

.item .availability {
  position: absolute;
  bottom: .5em;
  width: 100%;
  text-align: left;
  font-style: italic;
  font-weight: 300;

}

.item .availability .date {
  font-weight: 500;
  font-style: normal;
}
